doctype html
html
  head
    title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/introjs.css')
    link(rel='stylesheet', href='/stylesheets/chat_test.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='javascripts/kinetic-v4.5.5.min.js')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes')
  body
    .top.header.text-center(style='')
    .gameContainer.container-fluid
      img#image-final-level
      #col2.col2.col-xs-7.col-md-7.col-lg-7
        .chat_icon
        .col-xs-12.chat-col
          .chat1
            .chat-history1
              ul
                li.message.my-message Mi mensaje
                li.message.other-message Respuesta de:  Zeta o Peta
            .chat-message
              form.distribution-input-btn
                input.form-control(type='text', name='message-to-send1', id='message-to-send1', placeholder='Escribe tu mensaje')
                button#SendMessageButton1.btn.btn-primary Enviar    
        .objective-color.hidden.col-xs-12(data-intro='Y aquí cuál es la etapa, tu grupo y tu color asignado' data-step=3)
                  blockquote.blockquote 
                    p Debes buscar estrellas de color:
                    p#lb_color
           
      #col1.col1.col-xs-5.col-md-5.col-lg-5(data-intro='A la derecha de tu pantalla tienes el cielo, donde puedes realizar acciones para ayudar a Felipe' data-step=1)
        // Column 1 start
        // Column 1 end
        .col-xs-12.btn-sec
          .b1
            button.btn-stars(type='button')
          .b2
            button.btn-objective(type='button')
          .b3
            button#clickMe(type='button', value='clickme', onclick='introJs().start();')
        .colCanvas#colCanvas
        .mapa
          img.img-mapa
        .erase_button.btn.btn-danger deshacer
        .objective(data-intro='Aquí verás la constelación que busca Felipe' data-step=2)
          img#obj_game.hidden(src='../images/level_1_1.png')
         
    .footer.text-center
    script(type='text/javascript', src='/javascripts/socket.io-1.3.5.js')
    script(src='/javascripts/jquery.emoji.js')
    script(type='text/javascript', src='/javascripts/test/constelaciones_test.js', id='clientConst', host=host, port=port)
    script(type='text/javascript', src='/javascripts/test/client_test.js', id='client', host=host, port=port, imageNames=imageNames)
    script(type='text/javascript', src='/javascripts/test/intro_test.js')
    script.
      introJs().start();
